<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nuero Task</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to Nuero Task</h1>

        <form action="">
            <div>
                <label for"title">Task Title</label>
                <input type="text" name="title" placeholder="Enter Task...">
                <br>
                <button type="submit">Add Task</button>

            </div>
        <script src="" async defer></script>
    </body>
</html>
<form action="">
    <div>
            <label for"title">Task Title</label>
            <input type="text" name="title" placeholder="Enter Task...">
            <br>
            <button type="submit">Add Task</button>

        </div>
    
    <table border="1">
        <tr>
            <th>Task Title</th>
            <th>Complete</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        <tr>
            <td>New Task #1</td>
            <td><input type="checkbox" name="complete" value="true"></td>
            <td>